<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swpu.mapper.ProductMapper">

	<sql id="base_column_list">
		prod_id,name,type,batch,unit,price,memo
	</sql>
	
	<select id="selectProductALL" resultType="Product">
		select 
		<include refid="base_column_list"></include>
		from pro_product
		<if test="searchValue!=null and searchValue!=''">
			where name like #{searchValue}
		</if>
		limit ${currentPage},${pageNum}
	</select>
	
	<select id="findProductById" resultType="Product">
		select 
		<include refid="base_column_list"></include>
		from pro_product
		where prod_id=#{prodId}
	</select>
	
	<select id="findProductByName" resultType="Product">
		select 
		<include refid="base_column_list"></include>
		from pro_product
		where name=#{name}
	</select>
	
	<select id="findProductCount" resultType="Integer">
		select count(1) from pro_product
	</select>
	
	<select id="findProductCountByParam" resultType="Integer">
		select count(1) from pro_product
		<if test="searchValue!=null and searchValue!=''">
			where name like #{searchValue}
		</if>
	</select>
	
	<insert id="insertProduct">
		insert into pro_product(name,type,batch,unit,price,memo)
		values(#{name},#{type},#{batch},#{unit},#{price},#{memo})
	</insert>

	<delete id="deleteProduct">
		delete from pro_product where prod_id=#{prodId}
	</delete>	
	
	<update id="updateProduct">
		update pro_product set
		name=#{name},
		type=#{type},
		batch=#{batch},
		unit=#{unit},
		price=#{price},
		memo=#{memo}
		where prod_id=#{prodId}
	</update>
	
	
</mapper>