.dialog-login {
	margin: 3em auto 0;
	max-width: 400px;
}

.app-content {
	min-height: 100%;
}

.app-content-body {
	float: left;
	width: 100%;
	padding-bottom: 50px;
}

.page-content {
	background: #FFF;
	margin: 0;
	padding: 8px 20px 24px;
}


