.top-nav > li {
	/* 垂直居中，50px 是因为 bootstarp 中的 .navbar-brand 默认是 50px */
	line-height: 50px;
	height: 50px;
	border-right: 1px solid #DDD;
	float: left !important;
}

.top-nav > li.light-blue > a { background-color: #62A8D1; }

.top-nav > li.light-blue > a:hover,
.top-nav > li.light-blue > a:focus {
	background-color: #579EC8;
}

.top-nav > li.green > a { background-color: #2E8965; }

.top-nav > li.green > a:hover,
.top-nav > li.green > a:focus {
	background-color: #2C7659;
}

.top-nav > li > a > .badge {
	position: relative;
	top: -2px;
	padding: 2px 6px;
}

/* 由于 bootstarp 中的 .nav>li>a 已经写了  position: relative;display: block; 这里就不重复写 */
.top-nav > li > a {
	padding: 0 6px;
	min-width: 50px;
	width: auto;
	height: 100%;
	color: #FFF;
	background-color: #2E6589;
}

.top-nav .nav-user-photo {
	margin-right: 6px;
	border-radius: 50%;
	border: 2px solid #FFF;
	max-width: 40px;
}

.top-nav .user-info {
	max-width: 60px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	line-height: 18px;
	position: relative;
	top: 6px;
}

.top-nav > li > a > [class*="icon-"] {
	font-size: 16px;
	color: #FFF;
	display: inline-block;
	width: 20px;
	text-align: center;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus {
	background-color: #2C5976;
}

.top-nav > li.open > a { background-color: #2C5976 !important; }

.top-nav > li.open.light-blue > a { background-color: #579EC8 !important; }

.top-nav > li.open.green > a { background-color: #2C7659 !important; }

/* 重置 dropdown-menu 的层级 */
.top-nav > li .dropdown-menu { z-index: 1031; }

.dropdown-navbar {
	padding: 0;
	width: 240px;
	-webkit-box-shadow: 0 2px 4px rgba(30, 30, 100, 0.25);
	box-shadow: 0 2px 4px rgba(30, 30, 100, 0.25);
	border-color: #BCD4E5;
}

.dropdown-navbar > li.dropdown-header {
	text-shadow: none;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 34px;
	font-size: 12px;
	font-weight: bold;
	text-transform: none;
	border-bottom: 1px solid #BCD4E5;
	background-color: #ECF2F7 !important;
	color: #8090A0;
}

.dropdown-navbar > li {
	padding: 0 8px;
	background-color: #FFF;
}

.dropdown-header {
	display: block;
	padding: 3px 20px;
	font-size: 12px;
	line-height: 1.428571429;
	color: #999;
}

.dropdown-navbar > li > [class*="icon-"],
.dropdown-navbar > li > a > [class*="icon-"] {
	margin-right: 5px !important;
	color: #8090A0;
	font-size: 14px;
}

.dropdown-navbar > li > a {
	padding: 10px 2px;
	margin: 0;
	font-size: 12px;
	line-height: 16px;
	color: #555;
	border-bottom: 1px solid #E4ECF3;
}

.dropdown-navbar .msg-photo {
	margin-right: 6px;
	max-width: 42px;
}

.dropdown-navbar .msg-body {
	display: inline-block;
	white-space: normal;
	vertical-align: middle;
	max-width: 175px;
	line-height: 20px;
}

.dropdown-navbar .msg-title {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dropdown-navbar .msg-time {
	display: block;
	font-size: 11px;
	color: #777;
}

.dropdown-navbar > li:hover {
	background-color: #F4F9FC !important;
}

.dropdown-navbar > li > a:active,
.dropdown-navbar > li > a:hover,
.dropdown-navbar > li > a:focus {
	background-color: transparent !important;
	color: #555;
}

.dropdown-navbar > li:last-child > a {
	border-bottom: 0 solid #DDD;
	border-top: 1px dotted transparent;
	color: #4F99C6;
	text-align: center;
	font-size: 13px;
}

.dropdown-navbar > li:last-child > a:hover {
	background-color: #FFF;
	color: #4F99C6;
	text-decoration: underline;
}

/*

.sidebar > .nav-search { position: static; background-color: #FAFAFA; border-bottom: 1px solid #DDD; text-align: center; height: 35px; padding-top: 6px }

.sidebar > .nav-search .nav-search-input { width: 162px !important; border-radius: 0 !important; max-width: 162px !important; opacity: 1 !important; filter: alpha(opacity=100) !important }

.sidebar > .nav-search .nav-search-input + .dropdown-menu { text-align: left }

.sidebar.menu-min .nav-search .form-search { position: absolute; left: 5px; z-index: 14 }

.sidebar.menu-min .nav-search .nav-search-input { width: 0 !important; max-width: 0 !important; opacity: 0 !important; filter: alpha(opacity=0) !important }

.sidebar.menu-min .nav-search .nav-search-input:hover, .sidebar.menu-min .nav-search .nav-search-input:focus, .sidebar.menu-min .nav-search .nav-search-input:active { width: 162px !important; max-width: 162px !important; opacity: 1 !important; filter: alpha(opacity=100) !important }

.sidebar.menu-min .nav-search .nav-search-input:hover ~ #nav-search-icon, .sidebar.menu-min .nav-search .nav-search-input:focus ~ #nav-search-icon, .sidebar.menu-min .nav-search .nav-search-input:active ~ #nav-search-icon { border: 0; border-radius: 0; padding: 0 3px !important }

.sidebar.menu-min .nav-search:hover .nav-search-input { width: 162px !important; max-width: 162px !important; opacity: 1 !important; filter: alpha(opacity=100) !important }

.sidebar.menu-min .nav-search:hover .nav-search-input ~ .nav-search-icon { border: 0; border-radius: 0; padding: 0 3px !important }

.sidebar.menu-min .nav-search .nav-search-icon { border: 1px solid; border-radius: 32px; background-color: #FFF; padding: 0 5px !important }

*/

/*.top-nav > li.grey > a { background-color: #555; }

.top-nav > li.grey > a:hover,
.top-nav > li.grey > a:focus {
	background-color: #4B4B4B;
}

.top-nav > li.open.grey > a { background-color: #4B4B4B !important; }

.top-nav > li.purple > a { background-color: #892E65 }

.top-nav > li.purple > a:hover,
.top-nav > li.purple > a:focus {
	background-color: #762C59;
}

.top-nav > li.open.purple > a { background-color: #762C59 !important; }

.top-nav > li.light-blue2 > a { background-color: #42A8E1; }

.top-nav > li.light-blue2 > a:hover,
.top-nav > li.light-blue2 > a:focus {
	background-color: #359FD9;
}

.top-nav > li.open.light-blue2 > a { background-color: #359FD9 !important; }

.top-nav > li.red > a { background-color: #B74635; }

.top-nav > li.red > a:hover,
.top-nav > li.red > a:focus {
	background-color: #A34335;
}

.top-nav > li.open.red > a { background-color: #A34335 !important; }

.top-nav > li.light-green > a { background-color: #9ABC32; }

.top-nav > li.light-green > a:hover,
.top-nav > li.light-green > a:focus {
	background-color: #8BA832;
}

.top-nav > li.open.light-green > a { background-color: #8BA832 !important; }

.top-nav > li.light-purple > a { background-color: #CB6FD7; }

.top-nav > li.light-purple > a:hover,
.top-nav > li.light-purple > a:focus {
	background-color: #C263CE;
}

.top-nav > li.open.light-purple > a { background-color: #C263CE !important; }

.top-nav > li.light-orange > a { background-color: #F79263; }

.top-nav > li.light-orange > a:hover,
.top-nav > li.light-orange > a:focus {
	background-color: #F28653;
}

.top-nav > li.open.light-orange > a { background-color: #F28653 !important; }

.top-nav > li.light-pink > a { background-color: #F4DAE5; }

.top-nav > li.light-pink > a:hover,
.top-nav > li.light-pink > a:focus {
	background-color: #EECCDA;
}

.top-nav > li.open.light-pink > a { background-color: #EECCDA !important; }

.top-nav > li.dark > a { background-color: #404040; }

.top-nav > li.dark > a:hover,
.top-nav > li.dark > a:focus {
	background-color: #363636;
}

.top-nav > li.open.dark > a { background-color: #363636 !important; }

.top-nav > li.white-opaque > a { background-color: rgba(255, 255, 255, 0.8); }

.top-nav > li.white-opaque > a:hover,
.top-nav > li.white-opaque > a:focus {
	background-color: rgba(245, 245, 245, 0.8);
}

.top-nav > li.open.white-opaque > a { background-color: rgba(245, 245, 245, 0.8) !important; }

.top-nav > li.dark-opaque > a { background-color: rgba(0, 0, 0, 0.2); }

.top-nav > li.dark-opaque > a:hover,
.top-nav > li.dark-opaque > a:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.top-nav > li.open.dark-opaque > a { background-color: rgba(0, 0, 0, 0.2) !important; }


.top-nav > li.margin-4 { margin-left: 4px; }

.top-nav > li.margin-3 { margin-left: 3px; }

.top-nav > li.margin-2 { margin-left: 2px; }

.top-nav > li.margin-1 { margin-left: 1px; }

.top-nav > li.no-border { border: none !important; }

*/


