<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swpu.mapper.ContactMapper">

	<resultMap type="Contact" id="ContactMap">
		<id column="contact_id" property="contact_id"/>
		<result column="cust_id" property="cust_id"/>
		<result column="name" property="name"/>
		<result column="sex" property="sex"/>
		<result column="postion" property="postion"/>
		<result column="tel" property="tel"/>
		<result column="mobile" property="mobile"/>
		<result column="memo" property="memo"/>
	</resultMap>

	<select id="selectContactByCust" resultMap="ContactMap">
		select contact_id,cust_id,name,sex,postion,tel,mobile,memo
		from cst_contact where cust_id=#{cust_id}
	</select>
	
	<select id="selectContactById" resultMap="ContactMap">
		select contact_id,cust_id,name,sex,postion,tel,mobile,memo
		from cst_contact where contact_id=#{contact_id}
	</select>
	
	<update id="updateContact">
		update cst_contact set
		name=#{name},
		sex=#{sex},
		postion=#{postion},
		tel=#{tel},
		mobile=#{mobile},
		memo=#{memo}
		where contact_id=#{contact_id}
	</update>
	
	<insert id="insertContact">
		insert into cst_contact(cust_id,name,sex,postion,tel,mobile,memo)values
		(#{cust_id},#{name},#{sex},#{postion},#{tel},#{mobile},#{memo})
	</insert>
	
	<delete id="deleteContact">
		delete from cst_contact where contact_id=#{contact_id}
	</delete>
</mapper>