<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swpu.mapper.CustomerMapper">

	<resultMap type="Customer" id="CustomerMap">
		<id column="cust_id" property="cust_id"/>
		<result column="name" property="name"/>
		<result column="region" property="region"/>
		<result column="level" property="level"/>
		<result column="satisfy" property="satisfy"/>
		<result column="credit" property="credit"/>
		<result column="address" property="address"/>
		<result column="zip" property="zip"/>
		<result column="tel" property="tel"/>
		<result column="fax" property="fax"/>
		<result column="website" property="website"/>
		<result column="licence_no" property="licence_no"/>
		<result column="chieftain" property="chieftain"/>
		<result column="bankroll" property="bankroll"/>
		<result column="turnover" property="turnover"/>
		<result column="bank" property="bank"/>
		<result column="bank_account" property="bank_account"/>
		<result column="state" property="state"/>
		
		<association property="manager" column="manager_id"
			select="com.swpu.mapper.UserMapper.getUserByUserId">
		</association>
		
	</resultMap>

	<select id="selectCustomerALL" resultMap="CustomerMap">
		select cust_id,name,region,manager_id,level,satisfy,credit,address,zip,tel,fax,
		website,licence_no,chieftain,bankroll,turnover,bank,bank_account,state
		from cst_customer
		where 1=1
		<if test="manager_id!=null and manager_id!=''">
			and manager_id=#{manager_id}
		</if>
		<if test="cust_name!=null and cust_name!=''">
			and name=#{cust_name}
		</if>
		<if test="state!=null and state!=''">
			and state=#{state}
		</if>
		limit ${currentPage},${pageNum}
	</select>

	<select id="selectCustomerById" resultMap="CustomerMap">
		select cust_id,name,region,manager_id,level,satisfy,credit,address,zip,tel,fax,
		website,licence_no,chieftain,bankroll,turnover,bank,bank_account,state
		from cst_customer
		where cust_id=#{cust_id}
	</select>
	
	<select id="findCustomerCount" resultType="Integer">
		select count(cust_id) from cst_customer
	</select>
	
	<select id="findCustomerCountByParam" resultType="Integer">
		select count(cust_id) from cst_customer
		where 1=1
		<if test="manager_id!=null and manager_id!=''">
			and manager_id=#{manager_id}
		</if>
		<if test="cust_name!=null and cust_name!=''">
			and name=#{cust_name}
		</if>
		<if test="state!=null and state!=''">
			and state=#{state}
		</if>
	</select>
	
	<update id="updateCustomer">
		update cst_customer set
		region=#{region},
		level=#{level},
		satisfy=#{satisfy},
		credit=#{credit},
		address=#{address},
		zip=#{zip},
		tel=#{tel},
		fax=#{fax},
		website=#{website},
		licence_no=#{licence_no},
		chieftain=#{chieftain},
		bankroll=#{bankroll},
		turnover=#{turnover},
		bank=#{bank},
		bank_account=#{bank_account}
		where cust_id=#{cust_id}
	</update>
	
	<insert id="insertCustomer" keyProperty="cust_id">
		insert into cst_customer(name,manager_id)values
		(#{name},#{manager.userid})
	</insert>
	
</mapper>