<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swpu.mapper.MenuMapper">
	<select id="getMenu" resultType="Menu">
		select menu_id,name,url,parent_id,sort,icon,type
		from sys_menu
		where type='menu'
		order by menu_id,parent_id,sort
	</select>
</mapper>